<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>
<body>
    <!-- .head -->
    <header class="head">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .head-logo -->
            <a href="" class="head-logo">
                <img src="assets/img/anagram.png" alt="" class="head-logo__anagram" />
                <img src="assets/img/regina.png" alt="" class="head-logo__regina" />
            </a>
            <!-- /.head-logo -->

            <!-- .head-title -->
            <h1 class="head-title">
                Muito mais <span class="blue">diversão</span> para
                <br />
                sua <span class="pink">celebração</span>
            </h1>
            <!-- /.head-title -->

            <!-- .head-next -->
            <div class="head-next">
                <a href="#about" class="head-next__link">
                    <img src="assets/img/balloons-next.png" alt="" />
                </a>
            </div>
            <!-- /.head-next -->

            <!-- .head-nav -->
            <nav class="head-nav">
                <!-- .head-nav__left -->
                <div class="head-nav__left"></div>
                <!-- /.head-nav__left -->

                <!-- .head-nav-list -->
                <ul class="head-nav-list">
                    <li>
                        <a href="#about">Sobre</a>
                    </li>
                    <li>
                        <a href="#balloons">Balões Metalizados</a>
                    </li>
                    <li>
                        <a href="#products">Produtos</a>
                    </li>
                    <li>
                        <a href="#store">Loja virtual</a>
                    </li>
                    <li>
                        <a href="#map">Onde encontrar</a>
                    </li>
                    <li>
                        <a href="#inspired">Inspire-se</a>
                    </li>
                    <li>
                        <a href="#contact">Contato</a>
                    </li>
                </ul>
                <!-- /.head-nav-list -->

                <!-- .head-nav__right -->
                <div class="head-nav__right"></div>
                <!-- /.head-nav__right -->
            </nav>
            <!-- /.head-nav -->
        </div>
        <!-- /.wrapper -->
    </header>
    <!-- /.head -->

    <!-- .wrapper -->
    <div class="wrapper">
        <div>
            <img src="assets/img/ballon/minion.png" class="balloons__floating balloons__minion" alt="">
        </div>
        <!-- .about -->
        <div id="about" class="about">
            <!-- .about__body -->
            <div class="about__body">
                <h2 class="about__title">
                    <span class="pink">Sobre</span>
                    <br />
                    <span class="darkblue">Apresentação</span>
                </h2>

                <!-- .about__scroller -->
                <div class="about__scroller nano">
                    <div class="nano-content">
                        <p>A Regina Festas, empresa nacional com mais de 43 anos de mercado e líder no mercado de soluções para celebrações, oferece um amplo mix de produtos que garante soluções criativas e elegantes para diversos tipos de celebrações, que vão desde aniversários e comemorações sazonais, a churrascos e reuniões em família. Com qualidade e eficiência, a Regina Festas ajuda a construir momentos inesquecíveis e, por isso, todos os produtos apresentam design impecável, além de temas exclusivos de licenciadores oficiais.</p>
                        <p>Com resultado de tanto trabalho, em Janeiro de 2015 a Regina Festas iniciou a produção e comercialização de balões metalizados em todo território nacional através da aliança estratégica com duas das maiores empresas globais líderes no segmento: a norte-americana Anagram e a mexicana Convergram.</p>
                        <p>O amplo portfólio de produto conta com as principais licenças mundiais como Disney, Cartoon Network, Exim, Mattel, Universal entre outras. Além de uma linha de produto especializado no segmento de decoração que são referência em termos de qualidade uma garantia de sucesso.</p>
                        <p>O objetivo dessa aliança é de colocar o mercado brasileiro de balões metalizados no cenário mundial com produtos inovadores e de alta qualidade reconhecida.</p>
                    </div>
                </div>
                <!-- /.about__scroller -->
            </div>
            <!-- /.about__body -->

            <!-- .about__img -->
            <div class="about__img">
                <img src="assets/img/about-img.png" alt="" />
            </div>
            <!-- /.about__img -->
        </div>
        <!-- /.about -->
    </div>
    <!-- /.wrapper -->

    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .balloons -->
        <div id="balloons" class="balloons">
            <!-- .balloons__img -->
            <a href="" class="balloons__img">
                <img src="assets/img/balloons-img.png" alt="" />
            </a>
            <!-- /.balloons__img -->

            <!-- .balloons__body -->
            <div class="balloons__body">
                <h2 class="balloons__title">
                    <span class="pink">Balões Metalizados</span>
                    <br />
                    <span class="darkblue">Anagram</span>
                </h2>

                <!-- .balloons__scroller -->
                <div class="balloons__scroller nano">
                    <div class="nano-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <!-- /.balloons__scroller -->
            </div>
            <!-- /.balloons__body -->
        </div>
        <!-- /.balloons -->
    </div>
    <!-- /.wrapper -->

    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .products -->
        <div id="products" class="products">
            <h3 class="products__title pink">Produtos</h3>

            <!-- .products__grid -->
            <div class="products__grid">
                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title darkblue">Personagens</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="">Barbie</a>
                            </li>
                            <li>
                                <a href="">Batman</a>
                            </li>
                            <li>
                                <a href="">Carros</a>
                            </li>
                            <li>
                                <a href="">Fadas</a>
                            </li>
                            <li>
                                <a href="">Frozen</a>
                            </li>
                            <li>
                                <a href="">Homem-Aranha</a>
                            </li>
                            <li>
                                <a href="">Mickey</a>
                            </li>
                            <li>
                                <a href="">Minion</a>
                            </li>
                            <li>
                                <a href="">Minnie</a>
                            </li>
                            <li>
                                <a href="">Monster High</a>
                            </li>
                            <li>
                                <a href="">Moranguinho</a>
                            </li>
                            <li>
                                <a href="">Peppa Pig</a>
                            </li>
                            <li>
                                <a href="">Princesas</a>
                            </li>
                            <li>
                                <a href="">Toy Story</a>
                            </li>
                            <li>
                                <a href="">Vingadores</a>
                            </li>
                        </ul>

                        <a href="" class="products-item__more btn btn--white">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title darkblue">Mensagens</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="">Adoramos Você</a>
                            </li>
                            <li>
                                <a href="">Com Carinho</a>
                            </li>
                            <li>
                                <a href="">Eu Te Amo</a>
                            </li>
                            <li>
                                <a href="">Feliz Aniversário</a>
                            </li>
                            <li>
                                <a href="">Parabéns</a>
                            </li>
                        </ul>

                        <a href="" class="products-item__more btn btn--white">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title darkblue">Lisos</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="">Arco-Mágico</a>
                            </li>
                            <li>
                                <a href="">Círculo</a>
                            </li>
                            <li>
                                <a href="">Coração</a>
                            </li>
                            <li>
                                <a href="">Crescente</a>
                            </li>
                            <li>
                                <a href="">Cubo</a>
                            </li>
                            <li>
                                <a href="">Curva</a>
                            </li>
                            <li>
                                <a href="">Diamante</a>
                            </li>
                            <li>
                                <a href="">Estrela</a>
                            </li>
                            <li>
                                <a href="">Órbita</a>
                            </li>
                            <li>
                                <a href="">Painel</a>
                            </li>
                        </ul>

                        <a href="" class="products-item__more btn btn--white">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title darkblue">Variados</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="">Praia</a>
                            </li>
                            <li>
                                <a href="">Animais</a>
                            </li>
                            <li>
                                <a href="">Pirata</a>
                            </li>
                            <li>
                                <a href="">Sorriso</a>
                            </li>
                        </ul>

                        <a href="" class="products-item__more btn btn--white">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->
            </div>
            <!-- /.products__grid -->
        </div>
        <!-- /.products -->
    </div>
    <!-- /.wrapper -->

    <!-- .media -->
    <div id="media" class="media">
        <!-- .wrapper -->
        <div class="media__wrapper wrapper">

            <div id="media-sly" class="media-sly">
                <ul class="media-sly-nav cf">
                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/disney.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/pixar.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/lego.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/peppapig.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/barbie.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/wb.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/hasbro.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/winnie.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/disney.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/disney.png" alt=""/>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="media-action">
                <a class="media-action__prev prevPage" href="" title=""></a>
                <a class="media-action__next nextPage" href="" title=""></a>
            </div>

        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.media -->

    <!-- .store -->
    <div id="store" class="store">
        <!-- .wrapper -->
        <div class="wrapper store__wrapper">
            <h3 class="store__title darkblue">Loja Virtual</h3>
            <p class="store__text georgia">
                <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br /> incididunt ut labore et dolore magna aliqua.</em>
            </p>
            <div class="store__img">
                <img src="assets/img/store-img.png" alt="" />
            </div>
            <a href="http://www.reginaproline.com.br/" class="store__btn btn btn--large btn--blue">Clique aqui para comprar online</a>
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.store -->

    <!-- .map -->
    <div id="map" class="map">
        <!-- .map__head -->
        <div class="map__head">
            <!-- .wrapper -->
            <div class="wrapper">
                <img class="map__title-img" src="assets/img/map-title.png" alt="Onde Encontrar" />
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.map__head -->

        <!-- .map__body -->
        <div class="map__body" id="map-canvas">
        </div>
        <!-- /.map__body -->
    </div>
    <!-- /.map -->

    <!-- .inspired -->
    <div id="inspired" class="inspired">
        <div class="inspired__border"></div>

        <div class="inspired__table">
            <h3 class="inspired__title">Inspire-se</h3>
        </div>
    </div>
    <!-- /.inspired -->

    <!-- .gallery -->
    <div class="gallery">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .gallery-grid -->
            <div class="gallery-grid">
                <!-- .gallery-cell -->
                <div class="gallery-cell">
                    <!-- .gallery-item -->
                    <div class="gallery-item">
                        <!-- .gallery-item__body -->
                        <div class="gallery-item__body">
                            <h3 class="gallery-item__title blue">Usou os Balões Anagram? Mostre para nós!</h3>
                            <p class="georgia">
                                <em>Poste sua foto no instagram usando a hashtags #anagram #regina e apareça no nosso hall da fama.</em>
                            </p>
                            <div>
                                <a href="" class="btn btn--pink">Envie sua foto para nós</a>
                            </div>
                        </div>
                        <!-- /.gallery-item__body -->

                        <!-- .gallery-item__img -->
                        <div class="gallery-item__img">
                        </div>
                        <!-- /.gallery-item__img -->
                    </div>
                    <!-- /.gallery-item -->
                </div>
                <!-- /.gallery-cell -->

                <!-- .gallery-cell -->
                <div class="gallery-cell">
                    <!-- .gallery-item-alt -->
                    <div class="gallery-item-alt">
                        <!-- .gallery-item-alt__img -->
                        <div class="gallery-item-alt__img">
                        </div>
                        <!-- /.gallery-item-alt__img -->

                        <!-- .gallery-item-alt__body -->
                        <div class="gallery-item-alt__body">
                            <h3 class="gallery-item-alt__title blue">Galeria de Fotos</h3>
                            <p class="georgia">
                                <em>Inspire-se com fotos de nossos consumidores.</em>
                            </p>
                            <div class="gallery-item-alt__action">
                                <a href="" class="btn btn--padd btn--blue">Clique aqui</a>
                            </div>
                        </div>
                        <!-- /.gallery-item-alt__body -->
                    </div>
                    <!-- /.gallery-item-alt -->
                </div>
                <!-- /.gallery-cell -->
            </div>
            <!-- /.gallery-grid -->
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.gallery -->

    <!-- .contact -->
    <div id="contact" class="contact">
        <!-- .contact__border -->
        <div class="contact__border">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .contact__border -->
                <div class="contact__border"></div>
                <!-- /.contact__border -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.contact__border -->

        <!-- .wrapper -->
        <div class="wrapper">
            <div>
                <img src="assets/img/ballon/minnie.png" class="balloons__floating balloons__minnie" alt="">
                <img src="assets/img/ballon/mickey.png" class="balloons__floating balloons__mickey" alt="">
            </div>
            <!-- .contact__grid -->
            <div class="contact__grid">
                <!-- .contact__cell -->
                <div class="contact__cell contact__cell--main">
                    <h3 class="contact__title">Fale conosco</h3>

                    <!-- .contact-form -->
                    <ul class="contact-form">
                        <li>
                            <label for="" class="contact-form__label georgia">Nome:</label>
                            <input id="" name="" placeholder="Nome" type="text" class="contact-form__input input input--full georgia" />
                        </li>
                        <li>
                            <label for="" class="contact-form__label georgia">E-mail:</label>
                            <input id="" name="" placeholder="E-mail" type="text" class="contact-form__input input input--full georgia" />
                        </li>
                        <li>
                            <label for="" class="contact-form__label georgia">Mensagem:</label>
                            <textarea id="" name="" rows="7" class="contact-form__textarea textarea textarea--full georgia"></textarea>
                        </li>
                        <li class="contact-action">
                            <button type="submit" class="contact-action__btn btn btn--pink">Enviar</button>
                        </li>
                    </ul>
                    <!-- /.contact-form -->
                </div>
                <!-- /.contact__cell -->

                <!-- .contact__cell -->
                <div class="contact__cell contact__cell--aside">
                    <h4 class="contact__subtitle">Serviços de atendimento</h4>
                    <ul class="contact__list">
                        <li>
                            <strong>Email:</strong> <a href="">contato@baloesanagram.com.br</a>
                        </li>
                        <li>
                            <strong>SAC:</strong> (18) 3229-5056
                        </li>
                    </ul>

                    <h4 class="contact__subtitle">Perguntas frequentes</h4>
                    <ul class="contact__list">
                        <li>
                            <a href="">Tira suas dúvidas aqui</a>
                        </li>
                    </ul>

                    <img src="assets/img/spider-man.jpg" alt="" class="contact-aside-img" />
                </div>
                <!-- /.contact__cell -->
            </div>
            <!-- /.contact__grid -->
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.contact -->

    <!-- .foot -->
    <footer class="foot">
        <div>
            <img src="assets/img/ballon/batman.png" alt="" class="balloons__floating balloons__batman">
        </div>
        <!-- .foot-top -->
        <div class="foot-top">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .foot-top__grid -->
                <div class="foot-top__grid">
                    <!-- .foot-top__cell -->
                    <div class="foot-top__cell">
                        <h5>Sobre a Anagram & Regina Festas</h5>
                        <p class="georgia">
                            <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>
                        </p>
                    </div>
                    <!-- /.foot-top__cell -->

                    <!-- .foot-top__cell -->
                    <div class="foot-top__cell">
                        <!-- .foot-social -->
                        <ul class="foot-social">
                            <li>
                                <a href="">
                                    <img src="assets/img/facebook.png" alt="Facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="assets/img/instagram.png" alt="Instagram" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="assets/img/twitter.png" alt="Twitter" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="assets/img/pinterest.png" alt="Pinterest" />
                                </a>
                            </li>
                        </ul>
                        <!-- /.foot-social -->
                    </div>
                    <!-- /.foot-top__cell -->
                </div>
                <!-- /.foot-top__grid -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.foot-top -->

        <!-- .foot-bot -->
        <div class="foot-bot">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .foot-bot__grid -->
                <div class="foot-bot__grid">
                    <!-- .foot-bot__cell -->
                    <div class="foot-bot__cell foot-bot__cell--copy">
                        <div class="foot-bot__copy">Todos os direitos reservados Anagram Ballons e Regina Festas</div>
                    </div>
                    <!-- /.foot-bot__cell -->

                    <!-- .foot-bot__cell -->
                    <div class="foot-bot__cell foot-bot__cell--logo">
                        <a href="" class="foot-bot-logo">
                            <img src="assets/img/anagram-foot.png" alt="" />
                        </a>
                    </div>
                    <!-- /.foot-bot__cell -->
                </div>
                <!-- /.foot-bot__grid -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.foot-bot -->
    </footer>
    <!-- /.foot -->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sly/dist/sly.min.js"></script>
    <script src="bower_components/enquire/dist/enquire.min.js"></script>
    <script src="bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js"></script>
    <script src="bower_components/jarallax/jarallax.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="assets/js/balloons.js"></script>
    <script>

        // Define your locations: HTML content for the info window, latitude, longitude
    var locations = [
      ['Rua Ramos Batista, 198, Itaim Bibi, Sao Paulo, SP', -23.5924709, -46.684306],
      ['Av. Paulista, 555, Sao Paulo, SP', -23.5680951, -46.648374],
      ['Av. Indianopolis, 1234, Sao Paulo, SP', -23.6095017, -46.652058]
    ];

    // Setup the different icons and shadows
    var icons = [
      'assets/img/icon-map.png'
    ];

    var iconsLength = icons.length;

    var map = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 10,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      streetViewControl: false,
      panControl: false,
      zoomControlOptions: {
         position: google.maps.ControlPosition.LEFT_BOTTOM
      }
    });

    var infowindow = new google.maps.InfoWindow({
      maxWidth: 160
    });

    var markers = new Array();

    var iconCounter = 0;

    // Add the markers and infowindows to the map
    for (var i = 0; i < locations.length; i++) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: icons[iconCounter]
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));

      iconCounter++;
      // We only have a limited number of possible icon colors, so we may have to restart the counter
      if(iconCounter >= iconsLength) {
      	iconCounter = 0;
      }
    }

    function autoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      for (var i = 0; i < markers.length; i++) {
        bounds.extend(markers[i].position);
      }
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
    autoCenter();

        $(document).ready(function() {
            // desktop
            enquire.register("screen and (min-width: 1024px)", {
                match : function() {
                    $('a[href^="#"]').on('click',function (e) {
                        e.preventDefault();

                        var target = this.hash;
                        var $target = $(target);

                        $('html, body').stop().animate({
                            'scrollTop': $target.offset().top
                        }, 1500, 'swing');
                    });
                }
            });

            //Balloons
            $('.balloons__minion').balloons();
            $('.balloons__mickey').balloons();
            $('.balloons__minnie').balloons();
            $('.balloons__batman').balloons();

            $(".nano").nanoScroller();

            (function () {
                var $frame  = $('#media-sly');
                var $slidee = $frame.find('.media-sly-nav');
                var $wrap   = $frame.parent();

                // Call Sly on frame
                $frame.sly({
                    horizontal: 1,
                    itemNav: 'basic',
                    smart: 1,
                    activateOn: 'click',
                    mouseDragging: 1,
                    touchDragging: 1,
                    releaseSwing: 1,
                    scrollBar: $wrap.find('.scrollbar'),
                    scrollBy: 1,
                    pagesBar: $wrap.find('.pages'),
                    activatePageOn: 'click',
                    speed: 300,
                    elasticBounds: 1,
                    dragHandle: 1,
                    dynamicHandle: 1,
                    clickBar: 1,

                    // Buttons
                    forward: $wrap.find('.forward'),
                    backward: $wrap.find('.backward'),
                    prev: $wrap.find('.prev'),
                    next: $wrap.find('.next'),
                    prevPage: $wrap.find('.prevPage'),
                    nextPage: $wrap.find('.nextPage')
                });

                $(window).resize(function() {
                    $frame.sly('reload');
                });
            }());
        });
    </script>
</body>
</html>
