<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>
<body>
    <!-- .head -->
    <header class="head">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .head-logo -->
            <a href="" class="head-logo">
                <img src="assets/img/anagram.png" alt="" class="head-logo__anagram" />
                <img src="assets/img/regina.png" alt="" class="head-logo__regina" />
            </a>
            <!-- /.head-logo -->

            <!-- .head-title -->
            <h1 class="head-title">
                Muito mais <span class="head-title__blue">diversão</span> para
                <br />
                sua <span class="head-title__pink">celebração</span>
            </h1>
            <!-- /.head-title -->

            <!-- .head-next -->
            <div class="head-next">
                <a href="" class="head-next__link">
                    <img src="assets/img/balloons-next.png" alt="" />
                </a>
            </div>
            <!-- /.head-next -->

            <!-- .head-nav -->
            <nav class="head-nav">
                <!-- .head-nav-list -->
                <ul class="head-nav-list">
                    <li>
                        <a href="">Sobre</a>
                    </li>
                    <li>
                        <a href="">Balões Metalizados</a>
                    </li>
                    <li>
                        <a href="">Produtos</a>
                    </li>
                    <li>
                        <a href="">Inspire-se</a>
                    </li>
                    <li>
                        <a href="">Loja virtual</a>
                    </li>
                    <li>
                        <a href="">Onde encontrar</a>
                    </li>
                    <li>
                        <a href="">Contato</a>
                    </li>
                </ul>
                <!-- /.head-nav-list -->
            </nav>
            <!-- /.head-nav -->
        </div>
        <!-- /.wrapper -->
    </header>
    <!-- /.head -->

    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .about -->
        <div class="about">
            <!-- .about__body -->
            <div class="about__body">
                <h2 class="about__title">
                    Sobre
                    <br />
                    Apresentação
                </h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- /.about__body -->

            <!-- .about__img -->
            <div class="about__img">
                <img src="assets/img/about-img.png" alt="" />
            </div>
            <!-- /.about__img -->
        </div>
        <!-- /.about -->
    </div>
    <!-- /.wrapper -->

    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .balloons -->
        <div class="balloons">
            <!-- .balloons__img -->
            <div class="balloons__img">
                <img src="assets/img/balloons-img.png" alt="" />
            </div>
            <!-- /.balloons__img -->

            <!-- .balloons__body -->
            <div class="balloons__body">
                <h2 class="balloons__title">
                    Balões Metalizados
                    <br />
                    Anagram
                </h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <!-- /.balloons__body -->
        </div>
        <!-- /.balloons -->
    </div>
    <!-- /.wrapper -->

    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .products -->
        <div class="products">
            <h3 class="products__title">Produtos</h3>

            <!-- .products__grid -->
            <div class="products__grid">
                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title">Personagens</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="">Homem Aranha</a>
                            </li>
                            <li>
                                <a href="">Mickey</a>
                            </li>
                            <li>
                                <a href="">Minnie</a>
                            </li>
                            <li>
                                <a href="">Monster High</a>
                            </li>
                            <li>
                                <a href="">Peppa Pig</a>
                            </li>
                            <li>
                                <a href="">Princesas</a>
                            </li>
                            <li>
                                <a href="">Vingadores</a>
                            </li>
                            <li>
                                <a href="">Fadas</a>
                            </li>
                            <li>
                                <a href="">Barbie</a>
                            </li>
                            <li>
                                <a href="">Carros</a>
                            </li>
                            <li>
                                <a href="">Frozen</a>
                            </li>
                        </ul>

                        <a href="" class="products-item__more">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title">Mensagens</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="">Homem Aranha</a>
                            </li>
                            <li>
                                <a href="">Mickey</a>
                            </li>
                            <li>
                                <a href="">Minnie</a>
                            </li>
                            <li>
                                <a href="">Monster High</a>
                            </li>
                            <li>
                                <a href="">Peppa Pig</a>
                            </li>
                            <li>
                                <a href="">Princesas</a>
                            </li>
                            <li>
                                <a href="">Vingadores</a>
                            </li>
                            <li>
                                <a href="">Fadas</a>
                            </li>
                            <li>
                                <a href="">Barbie</a>
                            </li>
                            <li>
                                <a href="">Carros</a>
                            </li>
                            <li>
                                <a href="">Frozen</a>
                            </li>
                        </ul>

                        <a href="" class="products-item__more">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title">Lisos</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="">Homem Aranha</a>
                            </li>
                            <li>
                                <a href="">Mickey</a>
                            </li>
                            <li>
                                <a href="">Minnie</a>
                            </li>
                            <li>
                                <a href="">Monster High</a>
                            </li>
                            <li>
                                <a href="">Peppa Pig</a>
                            </li>
                            <li>
                                <a href="">Princesas</a>
                            </li>
                            <li>
                                <a href="">Vingadores</a>
                            </li>
                            <li>
                                <a href="">Fadas</a>
                            </li>
                            <li>
                                <a href="">Barbie</a>
                            </li>
                            <li>
                                <a href="">Carros</a>
                            </li>
                            <li>
                                <a href="">Frozen</a>
                            </li>
                        </ul>

                        <a href="" class="products-item__more">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title">Variados</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="">Homem Aranha</a>
                            </li>
                            <li>
                                <a href="">Mickey</a>
                            </li>
                            <li>
                                <a href="">Minnie</a>
                            </li>
                            <li>
                                <a href="">Monster High</a>
                            </li>
                            <li>
                                <a href="">Peppa Pig</a>
                            </li>
                            <li>
                                <a href="">Princesas</a>
                            </li>
                            <li>
                                <a href="">Vingadores</a>
                            </li>
                            <li>
                                <a href="">Fadas</a>
                            </li>
                            <li>
                                <a href="">Barbie</a>
                            </li>
                            <li>
                                <a href="">Carros</a>
                            </li>
                            <li>
                                <a href="">Frozen</a>
                            </li>
                        </ul>

                        <a href="" class="products-item__more">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->
            </div>
            <!-- /.products__grid -->
        </div>
        <!-- /.products -->
    </div>
    <!-- /.wrapper -->

    <!-- .sly -->
    <div class="sly">
    </div>
    <!-- /.sly -->

    <!-- .store -->
    <div class="store">
        <!-- .wrapper -->
        <div class="wrapper">
            <h3 class="store__title">Loja Virtual</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="" alt="" class="store__img" />
            <a href="" class="store__btn">Clique aqui para comprar online</a>
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.store -->

    <!-- .map -->
    <div class="map">
        <!-- .map__head -->
        <div class="map__head">
        </div>
        <!-- /.map__head -->

        <!-- .map__body -->
        <div class="map__body">
        </div>
        <!-- /.map__body -->
    </div>
    <!-- /.map -->

    <!-- .inspired -->
    <div class="inspired">
        <h3 class="inspired__title">Inspire-se</h3>
    </div>
    <!-- /.inspired -->

    <!-- .contact -->
    <div class="contact">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .contact__grid -->
            <div class="contact__grid">
                <!-- .contact__cell -->
                <div class="contact__cell">
                    <h3 class="contact__title">Fale conosco</h3>

                    <!-- .contact-form -->
                    <ul class="contact-form">
                        <li>
                            <input id="" name="" placeholder="Nome" type="text" class="contact-form__input" />
                        </li>
                        <li>
                            <input id="" name="" placeholder="E-mail" type="text" class="contact-form__input" />
                        </li>
                        <li>
                            <label for="" class="contact-form__label">Mensagem</label>
                            <textarea id="" name="" rows="10" class="contact-form__textarea"></textarea>
                        </li>
                    </ul>
                    <!-- /.contact-form -->
                </div>
                <!-- /.contact__cell -->

                <!-- .contact__cell -->
                <div class="contact__cell">
                    <h4 class="contact__subtitle">Serviços de atendimento</h4>
                    <ul class="contact__list">
                        <li>
                            <a href="">contato@baloesanagram.com.br</a>
                        </li>
                        <li>
                            SAC: (18) 3229-5056
                        </li>
                    </ul>

                    <h4 class="contact__subtitle">Perguntas frequentes</h4>
                    <ul class="contact__list">
                        <li>
                            <a href="">Tira suas dúvidas aqui</a>
                        </li>
                    </ul>
                </div>
                <!-- /.contact__cell -->
            </div>
            <!-- /.contact__grid -->
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.contact -->

    <!-- .foot -->
    <footer class="foot">
        <!-- .foot-top -->
        <div class="foot-top">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .foot-top__grid -->
                <div class="foot-top__grid">
                    <!-- .foot-top__cell -->
                    <div class="foot-top__cell">
                        <h5>Sobre a Anagram & Regina Festas</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <!-- /.foot-top__cell -->

                    <!-- .foot-top__cell -->
                    <div class="foot-top__cell">
                        <!-- .foot-social -->
                        <ul class="foot-social">
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                        </ul>
                        <!-- /.foot-social -->
                    </div>
                    <!-- /.foot-top__cell -->
                </div>
                <!-- /.foot-top__grid -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.foot-top -->

        <!-- .foot-bot -->
        <div class="foot-bot">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .foot-bot__grid -->
                <div class="foot-bot__grid">
                    <!-- .foot-bot__cell -->
                    <div class="foot-bot__cell">
                        <div class="foot-bot__copy">Todos os direitos reservados Anagram Ballons e Regina Festas</div>
                    </div>
                    <!-- /.foot-bot__cell -->

                    <!-- .foot-bot__cell -->
                    <div class="foot-bot__cell">
                        <a href="" class="foot-bot-logo">
                            <img src="assets/img/anagram-foot.png" alt="" />
                        </a>
                    </div>
                    <!-- /.foot-bot__cell -->
                </div>
                <!-- /.foot-bot__grid -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.foot-bot -->
    </footer>
    <!-- /.foot -->
</body>
</html>
