<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>
<body>
    <!-- .head-portable -->
    <header class="head-portable">
        <!-- .head-portable-top -->
        <div class="head-portable-top">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .head-portable-logo -->
                <a href="#head" class="head-portable-logo">
                    <img src="assets/img/anagram-mobile.png" alt="Anagram" />
                </a>
                <!-- /.head-portable-logo -->

                <!-- .head-portable-btn -->
                <a href="" class="head-portable-btn">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="66.137px" height="66.137px" viewBox="0 0 66.137 66.137" style="enable-background:new 0 0 66.137 66.137;"
                         xml:space="preserve">
                    <g>
                        <g>
                            <path d="M33.068,66.136C14.834,66.136,0,51.302,0,33.069C0,14.835,14.834,0.001,33.068,0.001s33.069,14.834,33.069,33.068
                                C66.137,51.302,51.302,66.136,33.068,66.136z M33.068,4.001C17.04,4.001,4,17.041,4,33.069s13.04,29.067,29.068,29.067
                                s29.069-13.04,29.069-29.067S49.096,4.001,33.068,4.001z"/>
                            <rect x="18.02" y="31.069" width="30.098" height="4"/>
                            <rect x="18.02" y="20.428" width="30.098" height="4"/>
                            <rect x="18.019" y="41.709" width="30.099" height="4"/>
                        </g>
                    </g>
                    </svg>
                </a>
                <!-- /.head-portable-btn -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.head-portable-top -->

        <!-- .head-portable-bot -->
        <div class="head-portable-bot">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .head-portable-nav -->
                <ul class="head-portable-nav">
                    <li>
                        <a href="#about">Sobre</a>
                    </li>
                    <li>
                        <a href="#balloons">Balões Metalizados</a>
                    </li>
                    <li>
                        <a href="#products">Produtos</a>
                    </li>
                    <li>
                        <a href="#store">Loja virtual</a>
                    </li>
                    <li>
                        <a href="#inspired">Inspire-se</a>
                    </li>
                    <li>
                        <a href="#contact">Contato</a>
                    </li>
                </ul>
                <!-- /.head-portable-nav -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.head-portable-bot -->
    </header>
    <!-- /.head-portable -->

    <!-- .head -->
    <header id="head" class="head">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .head-logo -->
            <ul class="head-logo">
                <li>
                    <a href="">
                        <img src="assets/img/regina.png" alt="" />
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="assets/img/anagram.png" alt="" />
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="assets/img/covergram.png" alt="" />
                    </a>
                </li>
            </ul>
            <!-- /.head-logo -->

            <!-- .head-title -->
            <h1 class="head-title">
                Muito mais <span class="blue">diversão</span> para
                <br />
                sua <span class="pink">celebração</span>
            </h1>
            <!-- /.head-title -->

            <!-- .head-next -->
            <div class="head-next">
                <a href="#about" class="head-next__link">
                    <img src="assets/img/balloons-next.png" alt="" />
                </a>
            </div>
            <!-- /.head-next -->

            <!-- .head-nav -->
            <nav class="head-nav">
                <!-- .head-nav__left -->
                <div class="head-nav__left"></div>
                <!-- /.head-nav__left -->

                <!-- .head-nav-list -->
                <ul class="head-nav-list">
                    <li class="head-nav--fixed-anagram">
                        <a href="#head">
                            <img src="assets/img/anagram-fixed.png" alt="Anagram" />
                        </a>
                    </li>
                    <li class="head-nav--fixed-anagram">
                        <a href="#head">
                            <img src="assets/img/anagram-fixed.png" alt="Anagram" />
                        </a>
                    </li>
                    <li>
                        <a href="#about">Sobre</a>
                    </li>
                    <li>
                        <a href="#balloons">Balões Metalizados</a>
                    </li>
                    <li>
                        <a href="#products">Produtos</a>
                    </li>
                    <li>
                        <a href="#store">Loja virtual</a>
                    </li>
                    <li>
                        <a href="#inspired">Inspire-se</a>
                    </li>
                    <li class="head-nav--fixed-contact">
                        <a href="#contact">Contato</a>
                    </li>
                    <li class="head-nav--fixed-regina">
                        <a href="#head">
                            <img src="assets/img/regina-fixed.png" alt="Regina" />
                        </a>
                    </li>
                </ul>
                <!-- /.head-nav-list -->

                <!-- .head-nav__right -->
                <div class="head-nav__right"></div>
                <!-- /.head-nav__right -->
            </nav>
            <!-- /.head-nav -->
        </div>
        <!-- /.wrapper -->
    </header>
    <!-- /.head -->

    <!-- .wrapper -->
    <div class="wrapper">
        <div>
            <img src="assets/img/balloon/minion.png" class="balloons__floating balloons__minion" alt="">
        </div>
        <!-- .about -->
        <div id="about" class="about">
            <!-- .about__body -->
            <div class="about__body">
                <h2 class="about__title">
                    <span class="pink">Sobre</span>
                    <br />
                    <span class="darkblue">Apresentação</span>
                </h2>

                <img src="assets/img/balloon-scroll.png" alt="" class="about__balloon" />

                <!-- .about__scroller -->
                <div class="about__scroller nano">
                    <div class="nano-content">
                        <img src="assets/img/pull.png" alt="" class="about__pull" />
                        <p>Somos a Regina Festas, empresa nacional com mais de 44 anos e líder no mercado de soluções para celebrações. Com qualidade e eficiência, a gente ajuda a construir momentos que surpreendem e encantam.</p>
                        <p>Se você já deu uma espiada em <a href="http://www.reginafestas.com.br/" target="_blank">nosso site</a> viu que contamos com a parceria das principais licenças mundiais como Disney, Mattel, Marvel, Sanrio, Nickelodeon, Exim, Tycon 360 entre outras. É muito amor envolvido, né?</p>
                        <p>Com resultado de tanto trabalho e o constante desejo em tornar os seus melhores momentos ainda mais especiais, em Abril de 2015 a gente iniciou a produção e comercialização de balões metalizados em todo território nacional. Sabe como e com quem? A gente conta: através da aliança estratégica com duas das maiores empresas globais líderes no segmento, a norte-americana <a href="http://anagramballoons.com/" target="_blank">Anagram</a> e a mexicana <a href="http://www.convergram.com/index.php/pt/" target="_blank">Convergram</a>.
Essa é a nossa missão, poder fazer com que se torne inesquecível tanto para quem quer decorar quanto para quem deseja mergulhar nessa diversão.</p>
                        <p>Celebre com a gente!</p>
                    </div>
                </div>
                <!-- /.about__scroller -->
            </div>
            <!-- /.about__body -->

            <!-- .about__img -->
            <div class="about__img">
                <img src="assets/img/about-img.png" alt="" />
            </div>
            <!-- /.about__img -->
        </div>
        <!-- /.about -->
    </div>
    <!-- /.wrapper -->

    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .balloons -->
        <div id="balloons" class="balloons">
            <!-- .balloons__img -->
            <a href="" class="balloons__img">
                <img src="assets/img/balloons-img.png" alt="" />
            </a>
            <!-- /.balloons__img -->

            <!-- .balloons__body -->
            <div class="balloons__body">
                <h2 class="balloons__title">
                    <span class="pink">Balões Metalizados</span>
                    <br />
                    <span class="darkblue">Anagram</span>
                </h2>

                <img src="assets/img/balloon-scroll.png" alt="" class="balloons__balloon" />

                <!-- .balloons__scroller -->
                <div class="balloons__scroller nano">
                    <div class="nano-content">
                        <img src="assets/img/pull.png" alt="" class="balloons__pull" />
                        <p>É aqui que a sua fantasia se mistura com a nossa realidade, pois somos os facilitadores que farão dos seus momentos especiais mais mágicos e animados.</p>
                        <p>Isso graças ao que para alguns é brinquedo e, para outros, decoração: os balões metalizados. Aqueles  que estão sempre flutuando nas festas com movimentos leves e garantem um charme todo especial.</p>
                        <p>O mais divertido é que não importa se na sua casa as crianças preferem ser o Batman ou a Sininho. Os balões metalizados vão transformar a festa deles num verdadeiro conto de fadas ou na mais incrível aventura. E não pense que os balões são feitos só para crianças. Os adultos também adoram!</p>
                        <p>Seja para surpreender alguém querido ou decorar sua house party, os balões com mensagens em formato de coração ou coloridos são uma opção encantadora.</p>
                    </div>
                </div>
                <!-- /.balloons__scroller -->

                <!-- .balloons__btns -->
                <ul class="balloons__btns">
                    <li>
                        <a href="#instrucao" class="btn btn--pink">Video de Instrução</a>
                    </li>
                    <li>
                        <a href="#helio" class="btn btn--pink">Gás Hélio</a>
                    </li>
                </ul>
                <!-- /.balloons__btns -->
            </div>
            <!-- /.balloons__body -->
        </div>
        <!-- /.balloons -->
    </div>
    <!-- /.wrapper -->

    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .products -->
        <div id="products" class="products">
            <h3 class="products__title pink">Produtos</h3>

            <!-- .products__grid -->
            <div class="products__grid">
                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title darkblue">Personagens</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Avengers</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Barbie</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Batman</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Carros</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Fadas</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Frozen</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Homem-Aranha</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Mickey</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Minions</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Minnie</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Monster High</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Moranguinho</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Peppa Pig</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Princesas</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Toy Story</a>
                            </li>
                        </ul>

                        <a href="http://www.reginaproline.com.br/" target="_blank" class="products-item__more btn btn--white">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title darkblue">Mensagens</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Adoramos Você</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Eu Te Amo</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Feliz Aniversário</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Parabéns</a>
                            </li>
                        </ul>

                        <a href="http://www.reginaproline.com.br/" target="_blank" class="products-item__more btn btn--white">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title darkblue">Cores</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Vermelho</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Bordo</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Rosa</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Branco</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Azul</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Prata</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Dourado</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Verde</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Lilás</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Furta-Cor</a>
                            </li>
                        </ul>

                        <a href="http://www.reginaproline.com.br/" target="_blank" class="products-item__more btn btn--white">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title darkblue">Variados</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Animais</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Pirata</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Praia</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Sorriso</a>
                            </li>
                        </ul>

                        <a href="http://www.reginaproline.com.br/" target="_blank" class="products-item__more btn btn--white">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->

                <!-- .products__cell -->
                <div class="products__cell">
                    <!-- .products-item -->
                    <div class="products-item">
                        <h4 class="products-item__title darkblue">Formatos</h4>

                        <ul class="products-item__list">
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Mini Shape</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Sopre-Brinque</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Redondo 9"</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Redondo Standard</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Redondo 26"</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Super Shape</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Bola</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Bouquet</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Gigante</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Arco-Mágico</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Coração</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Lua</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Cubo</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Curva</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Diamante</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Estrela</a>
                            </li>
                            <li>
                                <a href="http://www.reginaproline.com.br/" target="_blank">Painel</a>
                            </li>
                        </ul>

                        <a href="http://www.reginaproline.com.br/" target="_blank" class="products-item__more btn btn--white">Ver todos</a>
                    </div>
                    <!-- /.products-item -->
                </div>
                <!-- /.products__cell -->
            </div>
            <!-- /.products__grid -->
        </div>
        <!-- /.products -->
    </div>
    <!-- /.wrapper -->

    <!-- .media -->
    <div id="media" class="media">
        <!-- .wrapper -->
        <div class="media__wrapper wrapper">

            <div id="media-sly" class="media-sly">
                <ul class="media-sly-nav cf">
                    <li style="width: 137px;">
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/avengers.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/cars.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/fairies.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/fronze.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/barbie.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/peppa.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/mickey.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/monsters-high.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/toy-story.png" alt=""/>
                        </a>
                    </li>

                    <li>
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/minnie.png" alt=""/>
                        </a>
                    </li>

                    <li style="width: 130px;">
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/spider-man.png" alt=""/>
                        </a>
                    </li>

                    <li style="width: 112px;">
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/princesas.png" alt=""/>
                        </a>
                    </li>

                    <li style="width: 138px;">
                        <a class="media-sly-nav__item" href="" title="">
                            <img src="assets/img/media/batman.png" alt=""/>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="media-action">
                <a class="media-action__prev prevPage" href="" title=""></a>
                <a class="media-action__next nextPage" href="" title=""></a>
            </div>

        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.media -->

    <!-- .store -->
    <div id="store" class="store">
        <!-- .wrapper -->
        <div class="wrapper store__wrapper">
            <h3 class="store__title darkblue">Loja Virtual</h3>
            <p class="store__text georgia">
                <em>De super-heróis a princesas. Mensagens a formatos diversos. Compre online os encantadores<br /> balões metalizados e deixe o momento ainda mais divertido.</em>
            </p>
            <div class="store__img">
                <img src="assets/img/store-img.png" alt="" />
            </div>
            <a href="http://www.reginaproline.com.br/" target="_blank" class="store__btn btn btn--large btn--blue">Clique aqui para comprar online</a>
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.store -->

    <!-- .map -->
    <div id="map" class="map" style="display: none;">
        <!-- .map__head -->
        <div class="map__head">
            <!-- .wrapper -->
            <div class="wrapper">
                <img class="map__title-img" src="assets/img/map-title.png" alt="Onde Encontrar" />
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.map__head -->

        <!-- .map__body -->
        <div class="map__body" id="map-canvas">
        </div>
        <!-- /.map__body -->
    </div>
    <!-- /.map -->

    <!-- .inspired -->
    <div id="inspired" class="inspired">
        <div class="inspired__border"></div>

        <div class="inspired__table">
            <h3 class="inspired__title">Inspire-se</h3>
        </div>
    </div>
    <!-- /.inspired -->

    <!-- .gallery -->
    <div class="gallery">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .gallery-grid -->
            <div class="gallery-grid">
                <!-- .gallery-cell -->
                <div class="gallery-cell">
                    <!-- .gallery-item -->
                    <div class="gallery-item">
                        <!-- .gallery-item__body -->
                        <div class="gallery-item__body">
                            <h3 class="gallery-item__title blue">Usou os Balões Anagram? Mostre para nós!</h3>
                            <p class="georgia">
                                <em>Poste sua foto no instagram usando a hashtags #anagram #regina e apareça no nosso hall da fama.</em>
                            </p>
                            <div>
                                <a href="" class="btn btn--pink">Envie sua foto para nós</a>
                            </div>
                        </div>
                        <!-- /.gallery-item__body -->

                        <!-- .gallery-item__img -->
                        <div class="gallery-item__img">
                            <img src="assets/img/gallery-01.jpg" alt="" />
                        </div>
                        <!-- /.gallery-item__img -->
                    </div>
                    <!-- /.gallery-item -->
                </div>
                <!-- /.gallery-cell -->

                <!-- .gallery-cell -->
                <div class="gallery-cell">
                    <!-- .gallery-item-alt -->
                    <div class="gallery-item-alt">
                        <!-- .gallery-item-alt__img -->
                        <div class="gallery-item-alt__img">
                        </div>
                        <!-- /.gallery-item-alt__img -->

                        <!-- .gallery-item-alt__body -->
                        <div class="gallery-item-alt__body">
                            <img src="assets/img/gallery-03.jpg" alt="" class="gallery-item-alt__img-2" />

                            <h3 class="gallery-item-alt__title blue">Galeria de Fotos</h3>
                            <p class="georgia">
                                <em>Inspire-se com fotos de nossos consumidores.</em>
                            </p>
                            <div class="gallery-item-alt__action">
                                <a href="" class="btn btn--padd btn--blue">Clique aqui</a>
                            </div>
                        </div>
                        <!-- /.gallery-item-alt__body -->
                    </div>
                    <!-- /.gallery-item-alt -->
                </div>
                <!-- /.gallery-cell -->
            </div>
            <!-- /.gallery-grid -->
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.gallery -->

    <!-- .contact -->
    <div id="contact" class="contact">
        <!-- .contact__border -->
        <div class="contact__border">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .contact__border -->
                <div class="contact__border"></div>
                <!-- /.contact__border -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.contact__border -->

        <!-- .wrapper -->
        <div class="wrapper">
            <div>
                <img src="assets/img/balloon/minnie.png" class="balloons__floating balloons__minnie" alt="">
                <img src="assets/img/balloon/mickey.png" class="balloons__floating balloons__mickey" alt="">
            </div>
            <!-- .contact__grid -->
            <div class="contact__grid">
                <!-- .contact__cell -->
                <div class="contact__cell contact__cell--main">
                    <h3 class="contact__title">Fale conosco</h3>

                    <!-- .contact-form -->
                    <ul class="contact-form">
                        <li>
                            <label for="" class="contact-form__label georgia">Nome:</label>
                            <input id="" name="" placeholder="Nome" type="text" class="contact-form__input input input--full georgia" />
                        </li>
                        <li>
                            <label for="" class="contact-form__label georgia">E-mail:</label>
                            <input id="" name="" placeholder="E-mail" type="text" class="contact-form__input input input--full georgia" />
                        </li>
                        <li>
                            <label for="" class="contact-form__label georgia">Mensagem:</label>
                            <textarea id="" name="" rows="7" class="contact-form__textarea textarea textarea--full georgia"></textarea>
                        </li>
                        <li class="contact-action">
                            <button type="submit" class="contact-action__btn btn btn--pink">Enviar</button>
                        </li>
                    </ul>
                    <!-- /.contact-form -->
                </div>
                <!-- /.contact__cell -->

                <!-- .contact__cell -->
                <div class="contact__cell contact__cell--aside">
                    <h4 class="contact__subtitle">Serviços de atendimento</h4>
                    <ul class="contact__list">
                        <li>
                            <strong>Email:</strong> <a href="">sac@reginafestas.com.br</a>
                        </li>
                    </ul>

                    <h4 class="contact__subtitle">Perguntas frequentes</h4>
                    <ul class="contact__list">
                        <li>
                            <a href="">Tira suas dúvidas aqui</a>
                        </li>
                    </ul>

                    <!-- .contact-aside-img -->
                    <div class="contact-aside-img">
                        <img src="assets/img/spider-man.jpg" alt="" class="contact-aside-img__pic" />

                        <div class="contact-aside-img__body">
                            23483-01 - Spider-Man Airwalkers
                            <br />
                            P93 36"/91cm w x 36"/91cm h
                        </div>
                    </div>
                    <!-- /.contact-aside-img -->
                </div>
                <!-- /.contact__cell -->
            </div>
            <!-- /.contact__grid -->
        </div>
        <!-- /.wrapper -->
    </div>
    <!-- /.contact -->

    <!-- .foot -->
    <footer class="foot">
        <div>
            <img src="assets/img/balloon/batman.png" alt="" class="balloons__floating balloons__batman">
        </div>
        <!-- .foot-top -->
        <div class="foot-top">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .foot-top__grid -->
                <div class="foot-top__grid">
                    <!-- .foot-top__cell -->
                    <div class="foot-top__cell">
                        <div style="display: none;">
                            <h5>Sobre a Anagram & Regina Festas</h5>
                            <p class="georgia">
                                <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>
                            </p>
                        </div>
                    </div>
                    <!-- /.foot-top__cell -->

                    <!-- .foot-top__cell -->
                    <div class="foot-top__cell">
                        <!-- .foot-social -->
                        <ul class="foot-social">
                            <li>
                                <a href="">
                                    <img src="assets/img/facebook.png" alt="Facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="assets/img/instagram.png" alt="Instagram" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="assets/img/twitter.png" alt="Twitter" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="assets/img/pinterest.png" alt="Pinterest" />
                                </a>
                            </li>
                        </ul>
                        <!-- /.foot-social -->
                    </div>
                    <!-- /.foot-top__cell -->
                </div>
                <!-- /.foot-top__grid -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.foot-top -->

        <!-- .foot-bot -->
        <div class="foot-bot">
            <!-- .wrapper -->
            <div class="wrapper">
                <!-- .foot-bot__grid -->
                <div class="foot-bot__grid">
                    <!-- .foot-bot__cell -->
                    <div class="foot-bot__cell foot-bot__cell--copy">
                        <div class="foot-bot__copy">Todos os direitos reservados Anagram Ballons e Regina Festas</div>
                    </div>
                    <!-- /.foot-bot__cell -->

                    <!-- .foot-bot__cell -->
                    <div class="foot-bot__cell foot-bot__cell--logo">
                        <ul class="foot-bot-logo">
                            <li>
                                <a href="">
                                    <img src="assets/img/logo-regina.png" class="foot-bot-logo__regina" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="assets/img/logo-anagram.png" class="foot-bot-logo__anagram" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="assets/img/logo-covergram.png" class="foot-bot-logo__regina" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.foot-bot__cell -->
                </div>
                <!-- /.foot-bot__grid -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.foot-bot -->
    </footer>
    <!-- /.foot -->

    <div id="balloonbg">
        <div class="balloon balloon1"></div>
        <div class="balloon balloon2"></div>
        <div class="balloon balloon3"></div>
        <div class="balloon balloon4"></div>
        <div class="balloon balloon5"></div>
    </div>

    <!-- .remodal -->
    <div class="remodal" data-remodal-id="instrucao">
        <h3>Video de Instrução</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/29MxMsn4Bh8" frameborder="0" allowfullscreen></iframe>
    </div>
    <!-- /.remodal -->

    <!-- .remodal -->
    <div class="remodal" data-remodal-id="helio">
        <h3>Gás Hélio</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UE3d7Aor_9Q" frameborder="0" allowfullscreen></iframe>
    </div>
    <!-- /.remodal -->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sly/dist/sly.min.js"></script>
    <script src="bower_components/enquire/dist/enquire.min.js"></script>
    <script src="bower_components/remodal/dist/jquery.remodal.min.js"></script>
    <script src="bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>

        // Define your locations: HTML content for the info window, latitude, longitude
    var locations = [
      ['Rua Ramos Batista, 198, Itaim Bibi, Sao Paulo, SP', -23.5924709, -46.684306],
      ['Av. Paulista, 555, Sao Paulo, SP', -23.5680951, -46.648374],
      ['Av. Indianopolis, 1234, Sao Paulo, SP', -23.6095017, -46.652058]
    ];

    // Setup the different icons and shadows
    var icons = [
      'assets/img/icon-map.png'
    ];

    var iconsLength = icons.length;

    var map = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 10,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      streetViewControl: false,
      panControl: false,
      zoomControlOptions: {
         position: google.maps.ControlPosition.LEFT_BOTTOM
      }
    });

    var infowindow = new google.maps.InfoWindow({
      maxWidth: 160
    });

    var markers = new Array();

    var iconCounter = 0;

    // Add the markers and infowindows to the map
    for (var i = 0; i < locations.length; i++) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: icons[iconCounter]
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));

      iconCounter++;
      // We only have a limited number of possible icon colors, so we may have to restart the counter
      if(iconCounter >= iconsLength) {
      	iconCounter = 0;
      }
    }

    function autoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      for (var i = 0; i < markers.length; i++) {
        bounds.extend(markers[i].position);
      }
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
    autoCenter();

        $(document).ready(function() {
            $('.head-portable-logo').on('click',function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': ($target.offset().top - 60)
                }, 1500, 'swing');
            });

            $('.head-portable-bot a[href^="#"]').on('click',function (e) {
                e.preventDefault();

                $('.head-portable-bot').toggle('slow');

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': ($target.offset().top - 60)
                }, 1500, 'swing');
            });

            $('.head a[href^="#"]').on('click',function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': ($target.offset().top - 60)
                }, 1500, 'swing');
            });

            var head = $('.head');
            var headHeight = head.height();

            $(window).on("scroll", function () {
                if ($(this).scrollTop() > headHeight) {
                    head.addClass("head--fixed");
                } else {
                    head.removeClass("head--fixed");
                }
            });

            $('.head-portable-btn').click(function(e) {
                var nav = $('.head-portable-bot');

                nav.toggle("slow");

                e.preventDefault();
            });


            // portable
            enquire.register("screen and (max-width: 1023px)", {
                match : function() {
                    var head = $('.head');

                    head.removeClass("head--fixed");

                    $(window).off("scroll");
                }
            });

            // desktop
            enquire.register("screen and (min-width: 1024px)", {
                match : function() {
                    var head = $('.head');
                    var headHeight = head.height();

                    $(window).on("scroll", function () {
                        if ($(this).scrollTop() > headHeight) {
                            head.addClass("head--fixed");
                        } else {
                            head.removeClass("head--fixed");
                        }
                    });
                }
            });

            $(".nano").nanoScroller();

            (function () {
                var $frame  = $('#media-sly');
                var $slidee = $frame.find('.media-sly-nav');
                var $wrap   = $frame.parent();

                // Call Sly on frame
                $frame.sly({
                    horizontal: 1,
                    itemNav: 'basic',
                    smart: 1,
                    activateOn: 'click',
                    mouseDragging: 1,
                    touchDragging: 1,
                    releaseSwing: 1,
                    scrollBar: $wrap.find('.scrollbar'),
                    scrollBy: 1,
                    pagesBar: $wrap.find('.pages'),
                    activatePageOn: 'click',
                    speed: 300,
                    elasticBounds: 1,
                    dragHandle: 1,
                    dynamicHandle: 1,
                    clickBar: 1,

                    // Buttons
                    forward: $wrap.find('.forward'),
                    backward: $wrap.find('.backward'),
                    prev: $wrap.find('.prev'),
                    next: $wrap.find('.next'),
                    prevPage: $wrap.find('.prevPage'),
                    nextPage: $wrap.find('.nextPage')
                });

                $(window).resize(function() {
                    $frame.sly('reload');
                });
            }());
        });
    </script>
</body>
</html>
