.balloons
  +cf
  padding: 48px 0
  +media-query(desk)
    margin-left: -24px

.balloons__img
  text-align: center
  margin-bottom: 24px
  > img
    display: inline-block
  +media-query(desk)
    display: inline-block
    margin-bottom: 0
    margin-right: -0.28em
    padding-left: 24px
    vertical-align: middle
    width: 40%

.balloons__body
  position: relative
  +media-query(desk)
    display: inline-block
    margin-right: -0.28em
    padding-left: 24px
    vertical-align: middle
    width: 60%

.balloons__balloon
  position: absolute
  right: -5px
  top: 25px

.balloons__title
  font-size: 35px
  line-height: 1.1

.balloons__scroller
  font-size: 13px

.balloons__floating
  display: none
  position: absolute

.balloons__minion
  top: 30%
  right: 0px
  transition: all .7s ease

.balloons__cinderella
  margin-top:-230px
  right:0px
  transition: all .9s ease

.balloons__batman
  margin-top: -150px
  width: 200px
  transition: all .9s ease-out

.balloons__mickey
  margin-top: 300px
  left: 42%
  transition: all .8s ease

.balloons__minnie
  margin-top: 30px
  left: 41%
  transition: all .8s ease-out

