.head
  color: #fff
  padding: 100px 0 64px
  text-align: center
  +media-query(desk)
    padding: 64px 0

.head-logo
  display: inline-block
  margin-bottom: 90px

.head-logo__anagram
  +media-query(lap)
    margin-right: 16px

.head-logo__regina
  +media-query(lap)
    margin-left: 16px

.head-title
  > br
    display: none
  +media-query(lap)
    > br
      display: inline
  +media-query(desk)
    font-size: 64px
    line-height: 1
    margin-bottom: 54px

.head-next
  +media-query(desk)
    margin-bottom: 54px

.head-nav
  display: none
  position: relative
  text-align: left
  width: 70%
  +media-query(desk)
    -webkit-transform: rotate(.1deg)
    -moz-transform: rotate(.1deg)
    -o-transform: rotate(.1deg)
    -ms-transform: rotate(.1deg)
    display: inline-block
    transform: rotate(.1deg)
    padding: 0 17px
    width: auto

.head--fixed
  padding: 88px 0
  .head-nav
    -webkit-transform: rotate(0)
    -moz-transform: rotate(0)
    -o-transform: rotate(0)
    -ms-transform: rotate(0)
    transform: rotate(0)
    padding: 0
    position: fixed
    left: 0
    top: 0
    text-align: center
    width: 100%
    z-index: 9999
    .head-nav__left,
    .head-nav__right
      background: none
    .head-nav-list
      line-height: 1
      padding: 24px 0
      > li
        border-right: 1px solid #fff
        margin-right: -0.28em
        margin-top: 10px
        vertical-align: middle
        &:first-child
          > a
            padding-left: 0
        &:last-child
          border-right: none
          > a
            padding-right: 0
        &.head-nav--fixed-anagram,
        &.head-nav--fixed-regina
          display: inline-block !important
          margin-top: 0 !important
        > a
          padding: 0 14px
        &.head-nav--fixed-regina
          margin-top: 8px !important

.head-nav--fixed-anagram
  border-right: none !important
  display: none !important
  > a
    > img
      display: block

.head-nav--fixed-regina
  border-right: none !important
  display: none !important
  > a
    > img
      display: block

.head-nav--fixed-contact
  border-right: none !important

.head-nav--fixed-contact
  border-right: none !important

.head-nav__left
  background-image: url(../img/nav-left.png)
  background-repeat: no-repeat
  background-position: left center
  display: none
  height: 48px
  position: absolute
  left: 0
  top: 0
  width: 17px
  +media-query(desk)
    display: block

.head-nav__right
  background-image: url(../img/nav-right.png)
  background-repeat: no-repeat
  background-position: right center
  display: none
  height: 48px
  position: absolute
  right: 0
  top: 0
  width: 17px
  +media-query(desk)
    display: block

.head-nav-list
  +cf
  background: #1f6796
  box-shadow: 0 3px 1px rgba(#000, .5)
  list-style: none
  margin: 0
  > li
    > a
      color: #eee
      display: block
      font-weight: bold
      padding: 12px
      text-shadow: 1px 2px 0 #074f71
      &:hover
        color: #fff
  +media-query(desk)
    > li
      display: inline-block
      font-size: 17px
      > a
        padding: 10px 18px

.head-portable
  background: #1f6796
  box-shadow: 0 3px 1px rgba(#000, .5)
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 9999
  +media-query(desk)
    display: none

.head-portable-top
  +cf
  line-height: 1
  padding: 12px 0

.head-portable-logo
  float: left
  > img
    display: block

.head-portable-btn
  display: block
  float: right
  > svg
    fill: #fff
    height: 34px
    width: 34px

.head-portable-bot
  display: none
  border-top: 1px solid lighten(#1f6796, 5%)
  padding: 6px 0
  +media-query(lap)
    height: 190px
    overflow-y: auto

.head-portable-nav
  list-style: none
  margin: 0
  > li
    border-bottom: 1px dotted lighten(#1f6796, 5%)
    &:last-child
      border-bottom: none
    > a
      color: #eee
      display: block
      font-weight: bold
      padding: 12px 0
      text-shadow: 1px 2px 0 #074f71
      &:hover
        color: #fff
