.products
  padding: 48px 0

.products__grid
  +cf
  +media-query(desk)
    margin-left: -24px

.products__cell
  +media-query(desk)
    float: left
    padding-left: 24px
    width: 25%

.products__title
  font-size: 35px
  line-height: 1.1

.products-item__title
  font-size: 18px

.products-item__list
  font-size: 13px
  list-style: none
  margin-left: 0
  text-transform: uppercase
  > li
    > a
      color: #7b7b7b
      &:hover
        color: #ff2f79
