.store
  background: url(../img/store-bg.png) no-repeat bottom right
  background-attachment: fixed
  background-clip: border-box
  padding: 48px 0
  font-size: 16px
  text-align: center
  +media-query(lap)
    font-size: 20px

.store__title
  font-size: 35px
  line-height: 1.1

.store__text
  br
    display: none
  +media-query(desk)
    br
      display: inline

.store__img
  margin-bottom: 12px
